$text_color: #3b3b3b;
$icon_color: #5b5b5b;
$icon_color_hover:#000000;
$icon_px: 25px;
$Mobile_L: 450px;

$card_width: 270px;
$card_border_radius: 16px;
$row_increment: 10px;
$card_small: 26;
$card_medium: 33;
$card_large: 45;
