@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'base/variables';
@import 'base/mixins';


* {
    margin: 0;
    padding: 0;
    
}
html, body{
    height: 100%;
}
 .wraper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
 }
 .main{
    flex: 1 1 auto;
 }

.container {
    max-width: 1440px;
    margin: 0 auto;
}

@import 'blocks/navbar';
@import 'blocks/carousel';
@import 'blocks/promo';
@import 'blocks/forms';
@import 'blocks/modal';
@import 'blocks/responsive_card';
@import 'blocks/about';
@import 'blocks/portfolio';
@import 'blocks/footer';
@import 'blocks/pinterest';
@import 'blocks/media';
