
.carousel{
    width: 100%;
    margin: 6px 0 0 0;
    padding-bottom: 7px;

    &_container{
        position: relative;
    }
    &_button{
        opacity: 0;
        visibility: hidden;
        transition: .55s opacity, .55s visibility;
        &:hover{
            opacity: 1;
            visibility: visible;
        }
        
        
    }
    .rt:hover ~ .carousel_button{
        opacity: 1;
        visibility: visible;
    }
    .prev,.next{
        position: absolute;
        height: 50px;
        width: 30px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        &-top,&-bottom {
            background: #ffffff;
            height: 5px;
            width: 30px;
            border-radius: 6px 10px 10px 6px;
        }
    .prev-top {
        transform: rotate(45deg);
        transform-origin: bottom left;
    }
        
    .prev-bottom{
        transform: rotate(-45deg);
        transform-origin: top left;
    }
        
    .next-top {
        transform: rotate(-45deg);
        transform-origin: bottom right;
    }
        
    .next-bottom{
        transform: rotate(45deg);
        transform-origin: top right;
    }
        
    }
    .next{
        right: 10px;
        left: auto;
    }
    

    .tns-item{
        max-height: 600px;
        img{
            display: block;
            width: 100vw;
            margin: 0 auto;
        }    
    }
}
    
    