@media (max-width: 1200px) {
    .about_container {
        max-width: 960px;
        .wrapper__about {grid-template-columns: 350px 520px;}
    }

    
}
@media (max-width: 992px) {
    .about_container {
        max-width: 720px;
        
        .wrapper__about {
            grid-template-columns: 300px 380px;
            column-gap: 50px;
            .about_button {
                padding: 0 13px;
                font-size: 15px;
                }

            .about__text {
                font-size: 15px;
            }
            .underlined{
                font-size: 27px;
        }
        
        }
    }
}

    @media (max-width: 768px) {
        .about_container {
            max-width: 430px;
            .wrapper__about {grid-template: auto / auto;
                row-gap: 15px;
                }
        }
    }

            
@media (max-width:575px){
    .about_container {
        width: 100%;
        padding: 0 17px;
    }
    .nav {
        display: none;
        &_active{
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 35%;
            height: 100vh;
            padding: 20px 5px;
            background-color: rgba(192, 192, 192, 0.61);
            z-index: 1;
            transition: 0.6s all;
        }
        .nav_menu{
            display: inline-block;
            height: 100vh;
            margin-top: 1rem;
            flex-direction: column;
            justify-content: space-around;
            align-items: start;
            padding-left: 10px;
            .menu_link{
                display: inline-block;
                padding: 1rem 0 0 0;
                font-size: 17px;   
                &:hover {
                    color: #272727;
                    &:after{
                        width: 0%;
                    }
                }  
            }
        }      
    }
.navbar .hamburger{
    display: block;
    span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: $text_color;
        margin-bottom: 4px;
        transition: 0.5s all;
    }
    &_active{
        span{
            margin-bottom: -2px;
            &:nth-child(1){
                transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                transform: translateY(3px) rotate(45deg);
            }      
        }
    }       
}

}

@media (max-width:466px){
    .overlay{
        .modal{
            width: 280px;
            min-height: 280px;
            &_mini{
                min-height: 100px;
            }
            &__subtitle{
                font-size: 15px;
            }
            &__descr{
                font-size: 15px;
            }
            .error{
                font-size: 13px;
            }  
        }
    }
    .feed-form{
        width: 200px;
        .valid{
            font-size: 13px;
        }
        
    }
        
        
    .button_submit{
        font-size: 15px;
    }
        
}

