@media (max-width:575px){
    .nav {
        display: none;
        &_active{
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 35%;
            height: 100vh;
            padding: 20px 5px;
            background-color: rgba(192, 192, 192, 0.61);
            z-index: 1;
            transition: 0.6s all;
        }
        .nav_menu{
            display: inline-block;
            height: 100vh;
            margin-top: 1rem;
            flex-direction: column;
            justify-content: space-around;
            align-items: start;
            padding-left: 10px;
            .menu_link{
                display: inline-block;
                padding: 1rem 0 0 0;
                font-size: 17px;   
                &:hover {
                    color: #272727;
                    &:after{
                        width: 0%;
                    }
                }  
            }
        }      
    }
.navbar .hamburger{
    display: block;
    span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: $text_color;
        margin-bottom: 4px;
        transition: 0.5s all;
    }
    &_active{
        span{
            margin-bottom: -2px;
            &:nth-child(1){
                transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                transform: translateY(3px) rotate(45deg);
            }      
        }
    }       
}
}