.services , .training{
    font-family: 'Roboto';
    .subtitle {
        color: $text_color;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        // margin-top: 50px;
        font-size: 24px
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        justify-content: center;
        justify-items: center; 
        grid-auto-rows: 420px;
        grid-column-gap: 10px;
        grid-row-gap: 1em;
    }

    &__item {
        position: relative;
        width: 250px;
        height: 380px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
        background: center center no-repeat #fff;
        background-size: cover;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, .35);
        overflow-y: hidden;
        cursor: pointer;
        transition: .5s;
    }

    &__item:hover &__item-info {
        transform: translateY(0);
    }
    &__item-info {
        position: absolute;
        width: 100%;
        transform: translateY(calc(100% - 70px));
        bottom: 0;
        background: rgba(39, 39, 39, 0.66);
        padding: 14px 24px 18px;
        color: #fff;
        transition: .5s;
    }
    &__item-title {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 45px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
    }
    
    &__item-descr {
        margin-top: 8px;
        font-weight: 400;
        line-height: 18px;
        font-size: 14px;
    }
    
    &__item .minibutton {
        margin-top: 20px;
    }
    .minibutton {
        display: inline-block;
        height: 30px;
        background: #3f3689;
        box-shadow: 5px 5px 10px rgba(63, 54, 137, .42);
        border-radius: 4px;
        border: none;
        padding: 0 29px;
        font-weight: 400;
        line-height: 28px;
        font-size: 14px;
        letter-spacing: .4px;
        color: #fff;
        text-decoration: none;
        transition: 1s;
        cursor: pointer;
        outline: 0;
        &:hover {
            box-shadow: 8px 8px 30px rgba(63, 54, 137, .6);
            transform: scale(1.01);
        }
    }
    &__alert {
        line-height: 24px;
        font-size: 20px;
        text-align: center;
        margin: 6px 0 6px 0;
         span {
            font-weight: 700;
            font-size: 24px;
        }
    }
}